# Arrow Exercises

Simple examples to read and write parquet using pyarrow.

In [ ]:
import numpy as np
import pandas as pd
import pyarrow as pa
df = pd.DataFrame({'one': [20, np.nan, 2.5],
                   'two': ['january', 'february', 'march'],
                   'three': [True, False, True]},
                  index=list('abc'))
table = pa.Table.from_pandas(df)

In [3]:
import pyarrow.parquet as pq
pq.write_table(table, 'example.parquet')

In [14]:
table2 = pq.read_table("example.parquet")
table2[3]

<Column name='__index_level_0__' type=DataType(string)>
[
  [
    "a",
    "b",
    "c"
  ]
]

In [15]:
table_1_3 = pq.read_table('example.parquet', columns=['one', 'three'])
table_1_3

pyarrow.Table
one: double
three: bool
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "pandas_'
            b'version": "0.24.2"}'}

In [21]:
pdf = pq.read_pandas('example.parquet', columns=['two']).to_pandas()
pdf

/home/rhodges/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/rhodges/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
/home/rhodges/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

        two
a   january
b  february
c     march

In [22]:
table = pa.Table.from_pandas(df, preserve_index=False)
pq.write_table(table, 'example_noindex.parquet')
t = pq.read_table('example_noindex.parquet')
t.to_pandas()

    one       two  three
0  20.0   january   True
1   NaN  february  False
2   2.5     march   True

In [24]:
pq_file = pq.ParquetFile("example.parquet")
pq_file.metadata

<pyarrow._parquet.FileMetaData object at 0x7f102aa23548>
  created_by: parquet-cpp version 1.5.1-SNAPSHOT
  num_columns: 4
  num_rows: 3
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 1052

In [26]:
pq_file.schema

<pyarrow._parquet.ParquetSchema object at 0x7f102aa22780>
one: DOUBLE
two: BYTE_ARRAY UTF8
three: BOOLEAN
__index_level_0__: BYTE_ARRAY UTF8